* {
  padding: 0;
  margin: 0;
}
body {
  margin: 1rem;
}
.item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 2px solid grey;
  margin: 1rem;
  align-items: center;
}
.item > * {
  width: 20%;
}

img {
  width: 40px;
  height: 40px;
}
